rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /ucapan/{document} {
      // Mengizinkan baca, tulis, dan hapus
      allow read, write, delete: if true;
    }
    
    // Default deny for everything else
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
